*{
    padding: 0px;
    margin: 0px;
    }
    #navbar{
       height: 60px;
       background-color: black;
    }
    button{
       color: white;
       background-color: orange;
    }
    #logo{
       color: orange;
       font-size: 25px;
    }
   a{
       margin-right: 150px ;
       text-decoration: none;
       text-align: center;
       color: white;
   }
   footer{
    color: white;
    background-color: black;
    text-align: center;
   }
   .Social Media{
    color: white;
    background-color: black;
    text-align: center;
   }
   h4{
    color: white;
   }
   .contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
   }
   #content{
    height: 500px;
   }
   #Class1{
      height: 100px;
      width: 100px;
   }